Oneclick App WordPress

user_email: {{ user_email }}
vhost_url: {{ vhost_url }}
user_name: {{ user_name }}
php_version: {{ php_version }}
wp_version: {{ wp_version }}
wp_password: {{ wp_password }}
db_password: {{ db_password }}
vhost_user: {{ vhost_user }}
vhost_password: {{ vhost_password }}
vhost_domain: {{ vhost_domain }}
vhost_sdomain: {{ vhost_sdomain }}
